<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>缩略图库</title>
</head>
<body>
<div class="container">
    <div class="main-img">
        <img src="./imgs/img01.jpg" id="current" alt="">
    </div>
    <div class="imgs">
        <img src="./imgs/img01.jpg" alt="">
        <img src="./imgs/img02.png" alt="">
        <img src="./imgs/img03.jpg" alt="">
        <img src="./imgs/img04.png" alt="">
        <img src="./imgs/img05.jpg" alt="">
        <img src="./imgs/img06.jpg" alt="">
        <img src="./imgs/img08.jpg" alt="">
        <img src="./imgs/img08.jpg" alt="">
    </div>
</div>
<script src="main.js"></script>
</body>
</html>
