<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>响应式导航</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <nav>
        <div class="logo">十月前端</div>
        <ul class="nav_menu">
            <li>首页</li>
            <li>关于我</li>
            <li>我的作品</li>
            <li>我的简历</li>
            <li>我的博客</li>
        </ul>
        <div class="burger">
            <div class="top_line"></div>
            <div class="middle_line"></div>
            <div class="bottom_line"></div>
        </div>
    </nav>
    <header></header>
    <script src='./index.js'></script>
</body>
</html>